<!DOCTYPE html>
<html>
<head>
	<title>The Great Number Game!</title>
</head>
<body>
	<h1>Welcome to the Great Number Game!</h1>
	<h4>I am thinking of a number between 1 and 100</h4>
	<h4>Take a guess!</h4>
	<h1>{{session["setValue"]}}</h1>
	<h1>{{message}}</h1>

	{% if number != session["setValue"] %}
	<form method="post" action="/">
		<input type="text" name="number">
		<input type="submit" name="button" value="Guess">
	</form>
	{% endif %}

	{% if number == session["setValue"] %}
	<form action="/">
		<input type="submit" name="button" value="Reset">
	</form>
	{% endif %}

</body>
</html>