<!DOCTYPE html>
<html>
<head>
	<title>Ninja Gil</title>
</head>
<body>
	<div class="gil">
		<p>Gil Acquired</p>
		<p class="gilLog">{{session['gil']}}</p>
	</div>
	<div class="income">
		<div class="farm">
			<h3>Farm</h3>
			<h6>(earns 10-20 gil)</h6>
			<form action="/process_money" method="post">
 				<input type="hidden" name="building" value="farm" />
  			<input type="submit" value="Find Gold!"/>
			</form> 
		</div>
		<div class="cave">
			<h3>Cave</h3>
			<h6>(earns 5-10 gil)</h6>
			<form action="/process_money" method="post">
 				<input type="hidden" name="building" value="cave" />
  			<input type="submit" value="Find Gold!"/>
			</form>
		</div>
		<div class="house">
			<h3>House</h3>
			<h6>(earns 2-5 gil)</h6>
			<form action="/process_money" method="post">
 				<input type="hidden" name="building" value="house" />
  			<input type="submit" value="Find Gold!"/>
			</form>
		</div>
		<div class="casino">
			<h3>Casino</h3>
			<h6>(earns/loses 0-50 gil)</h6>
			<form action="/process_money" method="post">
 				<input type="hidden" name="building" value="casino" />
  			<input type="submit" value="Find Gold!"/>
			</form>
		</div>
	</div>
	<div class="activities">
	<!-- use remove to get rid of first elements/last elements -->
	<textarea>{{session["farm_gil_earned"]}}</textarea> 
	<!-- above line works for now -->
	</div>
</body>
</html>