/*CSS reset settings here*/
*{
 margin: 0px;
 padding: 0px;
}
#wrapper{
 width: 900px;
 height: 630px;
 background-color: silver;
 margin-right: 50px;
 margin-bottom: 30px;
 margin-left: 30px;
 display: block;
 padding: 10px;
}
#header{
 height: 150px;
 width: 870px;
 background-color: green;
 display: block;
 margin: 20px;
}
#navigation{
 height: 300px;
 width: 180px;
 background-color: blue;
 margin: 10px 20px;
 display: inline-block;
}
#main_content{
 height: 410px;
 width: 660px;
 background-color: red;
 margin: 10px;
 float: right;
 display: inline-block;
 margin-right: 10px;
}
.subcontents{
 height: 190px;
 width: 190px;
 background-color: yellow;
 display: inline-block;
 margin: 5px;
 margin-top: 20px;
 margin-left: 15px;
}
#advertisement{
 height: 120px;
 width: 610px;
 background-color: purple;
 margin-left: 15px;
 margin-top: 10px;
 padding: 5px;
}
